<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
		
		<link rel="stylesheet" href="../../css/bootstrap.css"/>
		<link rel="stylesheet" href="../../css/font-awesome.css"/>
		<!--free css-->
		<link rel="stylesheet" href="../../css/free.css"/>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<!--[if lt IE 9]>
		 	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
		   	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		   	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		   	<script src="https://cdn.bootcss.com/jquery-placeholder/2.3.1/jquery.placeholder.js"></script>
		   	<script>
		   	$(function(){
		   		$('input').placeholder();
		   	});
		   	</script>  
		<![endif]-->
		<script src="../../js/bootstrap.js"></script>
		<!--free Javascript-->
		<script src="../../js/free.js"></script>
		
		<title>表格</title>
	</head>
	<body>
		<table class="table free-table-striped-cool free-table-cool table-single-choose">
			<thead>
				<tr>
					<th>姓名</th>
					<th>年龄</th>
					<th>格言</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ray</td>
					<td>31</td>
					<td>Just Code!</td>
				</tr>
				<tr>
					<td>Tody</td>
					<td>41</td>
					<td>真理惟一可靠的标准就是永远自相符合。</td>
				</tr>
				<tr>
					<td>Mentian</td>
					<td>31</td>
					<td>我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。</td>
				</tr>
				<tr>
					<td>Tom</td>
					<td>56</td>
					<td>时间是一切财富中最宝贵的财富。</td>
				</tr>
				<tr>
					<td>Mole</td>
					<td>23</td>
					<td>Go find some fun!</td>
				</tr>
			</tbody>
		</table>
		
		<ul class="free-table-bar" id="free-table-bar">
			<li class="free-table-bar-item"><a href="pagination.html"><i class="fa fa-angle-double-left" aria-hidden="true"></i>详情</a></li>
			<li class="free-table-bar-item"><i class="fa fa-angle-double-left" aria-hidden="true"></i></li>
			<li class="free-table-bar-item"><i class="fa fa-angle-double-left" aria-hidden="true"></i></li>
		</ul>
		
		<script>
			var myfunc = function(){
				alert(2);
			}
			var myfunc2 = function(){
				alert(3);
			}
			$(document).ready(function(){
				$.freetable.config('free-table-bar', [
					{
						icon: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>',
						name: '链接',
						type: 'link',
						href: "http://www.baidu.com"
					}, 
					{
						icon: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
						name: '链接',
						type: 'link',
						href: "http://www.baidu.com"
					}, 
					{
						icon: '<i class="fa fa-angle-double-up" aria-hidden="true"></i>',
						name: '方法',
						type: 'action',
						customFunction: 'myfunc()'
					}, {
						icon: '<i class="fa fa-angle-double-up" aria-hidden="true"></i>',
						name: '方法',
						type: 'action',
						customFunction: 'myfunc2()'
					}, 
				]);
			});
		</script>
	</body>
</html>
